<template>
<div class="center-content csm-container">
  <div class="csm-centerbox">
    <p>FALTAN</p>
    <p> {{ time }}</p>
    <i class="fa fa-youtube-play csm-fa-12" aria-hidden="true"></i>
    <p>¡Sigue la transmisión desde nuestro canal oficial!</p>
  </div>
</div>
</template>

<script lang="ts">
  export default {
    data: function(){
      return {
        time: "100 DIAS 27 HORAS 45 MIN"
      }
    },
    methods: {

      showTime: function(){

        const dateA: Date = new Date();
        const dateB: Date = new Date("2022-06-25")

	const timeCounter: number = dateB.getTime() - dateA.getTime();

        const timer: Function = ( timeCounter >= 86400000 ) ? 
	              this.timer_DHM : this.timer_HMS;

	this.time =  (timeCounter > 0) ? 
	             timer(timeCounter) : "Ya llego yupi";
      },

      timer_DHM: function ( miliseconds: number ){
        return Math.floor(miliseconds / (1000 * 60 * 60 * 24))+" DIAS "+
	       Math.floor((miliseconds % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))+" HORAS "+
	       Math.floor((miliseconds % (1000 * 60 * 60)) / (1000 * 60))+" MIN"; 
      },

      timer_HMS: function ( miliseconds: number){
	return Math.floor((miliseconds % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))+" HORAS "+
	       Math.floor((miliseconds % (1000 * 60 * 60)) / (1000 * 60))+" MIN "+
	       Math.floor((miliseconds % (1000 * 60)) / 1000)+" SEG"; 
      }
      },
      mounted: function(){
	const loop = setInterval(()=>{
          this.showTime();
	},1000);
      }
  }
</script>

<style scoped>
.center-content {
  background-color: #7e8a9d;
  text-align: center;
}

.csm-container {
  min-height: 40rem;
  width: 60%;
  margin: auto;
}

.csm-centerbox {
  display: flex;
  flex-flow: column wrap;
  min-height: inherit;
}

.csm-centerbox p:nth-child(1) {
  font-size: 1.8rem;
  padding-top: 2em;
  max-height: 80px;
}

.csm-centerbox p:nth-child(2) {
  font-size: 3.4rem;
  flex: 1;
}

.csm-centerbox i:nth-child(3) {
  flex: 1;
}

.csm-centerbox p:nth-child(4) {
  font-size: 1.6rem;
  flex: 3;
}

.csm-fa-12 {
  font-size: 12em;
}

</style>
